@media (min-width: 320px) and (max-width: 767px) { 
    .photo-grid {
        padding-bottom: 62px;
        justify-items: center;
        display: grid;
        row-gap: 12px;
    }

    .photo-grid--image {
        width: 100%;
    }
}

