@media (max-width: 320px) { 
    .photo-grid {
        padding-bottom: 62px;
        justify-items: center;
        display: grid;
        row-gap: 12px;
    }

    .photo-grid--image {
        width: 288px;
        height: 216px;
    }
}

