@media (min-width: 320px) and (max-width: 767px) {
    .place {
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-areas: 
        "country"
        "artist"
        "artist-name"
        "image"
        "pharagraph-1"
        "pharagraph-2"
        "button";
    }

    .place__title {
        width: 90%;
        margin: 0;
        font-size: 32px;
        padding-bottom: 30px;
        padding-top: 17px;
        grid-area: country;

    }

    .place__artist {
        grid-area: artist;
        margin: 0;
        width: 100%;
        font-size: 12px;
        color: #AAAAAA;
        padding-bottom: 8px;
    }

    .place__artist-name {
        grid-area: artist-name;
        margin: 0;
        width: 100%;
        font-size: 18px;
        padding-bottom: 30px;
    }
    .place__image {
        width: 100%;
        grid-area: image;
        object-fit: cover;
    }

    .place__pharagraph-1 {
        grid-area: pharagraph-1;
        margin: 0;
        padding-bottom: 7px;
        width: 90%;
        font-size: 16px;
    }

    .place__pharagraph-2 {
        grid-area: pharagraph-2;
        margin: 0;
        padding-bottom: 8px;
        width: 90%;
        font-size: 16px;
    }

    .place__button {
        grid-area: button;
        width: 90%;
        height: 48px;
        background-color: #0278FE;
        border-style: none;
        border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
    }

}