.header {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;

}


.header__logo {
    width: 20%;
}





@media (min-width: 768px) and (max-width: 1279px) {
    .header {
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 20px;
    }

    .header__logo {
        width: 30%;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .header {
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 20px;
    }

    .header__logo {
        width: 50%;
    }
}