@media (min-width: 320px) and (max-width: 767px) {
    .header {
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .header__logo {
        width: 50%;
    }
}