@media (max-width: 320px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 38px;
    }

    .intro__title {
        margin: 0;
        width: 288px;
        font-size: 32px;
    }

    .intro__quote {
        width: 288px;
        margin: 0;
        font-size: 24px;
    }

    .intro__quote-author {
        margin: 0;
        width: 288px;
        font-size: 24px;
        text-align: end;
    }

    .intro__text {
        width: 288px;
        margin: 0;
        font-size: 16px;
    }
}
