@font-face {
    font-family: "Inter";
    src: url(/fonts/inter-font/Inter-Black.woff);
}

.page {
    font-family: Inter, Arial, Helvetica, sans-serif;
    min-width: 320px;
    max-width: 100%;
    background-color: #2A2C2F;
    color: #FFFFFF;
}