@font-face {
    font-family: Inter;
    src: url(/fonts/inter-font/Inter-Black.woff);
}
.page {
    min-width: 1280px;
    margin: 0;
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: Inter;
}