.cover {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.cover__image {
    width: 100%;
    opacity: 0.3;
}

.cover__container {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.cover__title {
    width: 95%;
    margin: 0;
    font-size: 72px;
    text-align: center;
    padding-bottom: 16px;
}

.cover__subtitle {
    width: 40%;
    margin: 0;
    font-size: 18px;
    text-align: center;
    padding-bottom: 16px;
}

.cover__button {
    width: 30%;
    height: 48px;
    background-color: #0278FE;
    color: #FFFFFF;
    font-size: 18px;
    border-style: none;
    border-radius: 4px;
    align-self: center;
    cursor: pointer;
}

.cover__button:hover {
    background-color: #0063D2;
    transition: 0.3s;
}

.cover__image:hover {
    opacity: 0.8;
    transition: 0.3s;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .cover {
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .cover__image {
        width: 100%;
        opacity: 0.5;
    }

    .cover__container {
        position: absolute;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .cover__title {
        width: 95%;
        margin: 0;
        font-size: 72px;
        text-align: center;
        padding-bottom: 16px;
    }

    .cover__subtitle {
        width: 40%;
        margin: 0;
        font-size: 18px;
        text-align: center;
        padding-bottom: 16px;
    }

    .cover__button {
        width: 30%;
        height: 48px;
        background-color: #0278FE;
        color: #FFFFFF;
        font-size: 18px;
        border-style: none;
        border-radius: 4px;
        align-self: center;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .cover {
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .cover__image {
        width: 100%;
        opacity: 0.5;
    }

    .cover__container {
        position: absolute;
        flex-direction: column;
        display: flex;
    }

    .cover__title {
        width: 95%;
        margin: 0;
        font-size: 32px;
        text-align: center;
        padding-bottom: 16px;
    }

    .cover__subtitle {
        width: 95%;
        margin: 0;
        font-size: 14px;
        text-align: center;
        padding-bottom: 16px;
    }

    .cover__button {
        width: 95%;
        height: 48px;
        background-color: #0278FE;
        color: #FFFFFF;
        font-size: 18px;
        border-style: none;
        border-radius: 4px;
        align-self: center;
    }
}